#container {
  display: flex;
  flex-direction: column;
  overflow-y: scrollx;
  height: 100%;
}
header {
  background-color: #111023;
  flex-grow: 1;
}
#main {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  flex-direction: row;
  flex-wrap: wrap;
}
nav {
  flex-grow: 1;
  background-color: #c22177;
}
article {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  background-color: white;
}
aside {
  flex-grow: 1;
  background-color: #320388;
}
footer {
  flex-grow: 1;
  background-color: #111023;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Tablet CSS */
  nav {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  /* Mobile CSS */
  #main {
    flex-direction: column;
  }
}
